@{
    ViewBag.Title = "UserTraCuu";
    }

<!--Only for dialog-->
<script src="~/Scripts/dialog/jquery-ui.1.9.1.js"></script>

<script type="text/javascript">
    var usertk_dialog;
  
    $(document).ready(function () {
        // jqgrid declaration;
        $("#tblJQGrid2").jqGrid({
            url: 'User/getUserList',
            datatype: "json",
            //mtype: 'GET',
            colNames: ['Id', 'Họ tên', 'Username'],
            colModel: [
                { name: 'UserId', index: 'UserId', width: 40, stype: 'text', hidden: false },
                { name: 'Name', index: 'Name', width: 150 },
                { name: 'Username', index: 'Username', width: 150 }
            ],
            width: 550,
            height: 350,
            rowNum: 15,
            sortname: 'UserId',
            viewrecords: true,
            sortorder: "asc",
            caption: "User List",
            scrollOffset: 0,
            ondblClickRow: function(id) {
                var ret = $("#tblJQGrid2").jqGrid('getRowData', id);
                if (ret != null) {
                    usertk_dialog.dialog("close");
                    getUserInfo(ret);
                }
            },
            rowList: [10, 20, 50],
            rownumbers: true,
            pager2: '#pager2',
            gridview: true,
            viewrecords: true,
            loadonce: false,
            jsonReader: {
                repeatitems: false,
                id: "id",
                root: "rows",
                page: "page",
                total: "total",
                records: "records"
            }

        });

            usertk_dialog = $("#usertk_modal").dialog({
                autoOpen: false,
                resizable: false,
                modal: false,
                width: 600,
                height: 400,
                //position: { my: "center top", at: "center top", of: window }
            });

            $("#btnChonUser").click(function () {
                usertk_dialog.dialog("open");
                //jAlert("Bat hop thoai len - Borrower", "Canh Bao");
                //$("#usertk_modal").css("display", "block");
                
               
            });

            $("#btnChonUser1").click(function () {
                usertk_dialog.dialog("open");
                //jAlert("Bat hop thoai len - Staff", "Canh Bao");
                //$("#usertk_modal").css("display", "block");
            });

            function tailaiuser() {
                // load lai grid;
                var url = 'user/getUserList';

                $("#tblJQGrid2").jqGrid('setGridParam',
                        { url: url, page: 1, datatype: "json" }).trigger('reloadGrid');
            }


            function convertArray(arr) {
                var str = "";
                for (var i = 0; i < arr.length - 1; i++) {
                    str += arr[i] + "#";
                }
                str += arr[arr.length - 1];

                return str;
    
            }
    });
</script>

    <!-- ############################################################## -->
    <div id="usertk_modal" style="display:none" title="Tìm kiếm Thong tin user">
        <div class="wrapper col2">
            <div id="topbar">
                    <table>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" id="txtUstcUsername" name="txtUstcUsername" maxlength="100"></td>
                            <td>Họ Tên</td>
                            <td><input type="text" id="txtUstcName" name ="txtUstcName" maxlength="100"/></td>
                        
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:center">
                                <input type="button" id="btnUstcSearch" name="btnUstcSearch" value="Tìm kiếm" />
                                
                            </td>
                        </tr>
                         <div>
                            <table id="tblJQGrid2">
                            </table>
                            <div id="pager2" name="pager2"></div>
                        </div>
                    </table>  
            </div>
        </div>
    </div>
<!-- ############################################################## -->

    